<!-- Views/Shared/_MenuPartial.cshtml -->
<ul>
    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
    <li>@Html.ActionLink("Chức năng 1 - Project 1", "Function1", "Project1")</li>
    <li>@Html.ActionLink("Chức năng 2 - Project 1", "Function2", "Project1")</li>
    <li>@Html.ActionLink("Chức năng 1 - Project 2", "Function1", "Project2")</li>
    <li>@Html.ActionLink("Chức năng 2 - Project 2", "Function2", "Project2")</li>
</ul>
